body.is-reveal-open{
    // added this to fix random space that shows up on the right of html body when modal is open
    width: 100%;
    @media screen and (max-width: 39.9375em) {
       top: 0 !important;
    }
}

/* add to cart confirmation modal */
.alert-modal {
    display: none;
    position: fixed;
    top: auto !important;
    bottom: 1rem;
	@media screen and (max-width: 39.9375em) {
        left: auto !important;
        min-width:100vw;
        max-width:100vw;
    }
    .message-container{
        margin-right: 1.2rem;
        a{
            @media screen and (min-width: 39.9375em) {
                padding-right:15rem;
                padding-left:1rem;
            }
        }
    }
    .confirmation-modal-close-button{
        top:1rem !important;
    }
  }

.alert-modal:focus {
    //remove for accessibility later
    outline: 0;
}
.error-modal{
    @media screen and (min-width: 63.9375em) {
        left:16rem !important;
        right:16rem !important;
    }
    @media screen and (max-width: 63.9375em) {
        left:0rem !important;
    }
}


/* PLP no results modal */
.noresults-modal{
    //phone portrait
    @media (max-width: 39.9375em) {
        height:18vh;
        min-height:18vh;
    }
    //phone landscape
    @media screen and (min-width: 40em) and (max-width: 63.9375em)  and (orientation : landscape){
        min-width:100vh;
        width: 40vh;
    }
    //tablet portrait
    @media screen and (min-width: 40em) and (max-width: 63.9375em)  and (orientation : portrait){
        height:14vh;
        min-width:40vh;
    }
    //tablet landscape
    @media only screen and (min-width: 63.9375em) and (orientation : landscape) {
        min-width:50vh;
        width: 50vh;
    }
}

.store-locator-modal{
    top: -2rem;
}
.store-locator-in-modal{
    width: 100%;
    margin-top: -1rem;
    .search-result-panel{
        padding-right: 0px !important;
    }
}