## IDC sftp server info, update this to the right sftp user.
sftpUsername=
sftpPassword=
sftpHost=dc-sftp.watsoncommerce.ibm.com
sftpPort=20220
sftpDest=CodeDeployment/SecureSPA

## zip store assets, update this to your store identifier.
storeIdentifier=Stockholm
