<div class="product-recommendation-container">
    <div *ngIf="eSpotObject" [attr.dataci_espot]="eSpotObject.marketingSpotIdentifier + '_' + eSpotObject.eSpotName.split(' ').join('-spchar1-').split('\'').join('-spchar2-').split('>').join('-spchar3-').split('<').join('-spchar4-').split('&#x22;').join('-spchar5-')" [attr.dataci_toolbar]="eSpotObject.marketingSpotIdentifier + '_espot'">
    <h2 *ngIf="showTitle&&title" wchEditable="title">{{title}}</h2>
    </div>
    <app-carousel [ngClass]="{'less-than-4': slides.length<4 }" *ngIf="slides?.length" [renderingContexts]="slides"
        [slideConfig]="slideConfig">
    </app-carousel>
</div>