.checkout-cards {
    margin-top: -10px;
    padding-bottom: 10px;
    max-width: none;
}
.mockCardNumber{
    padding-top: 10px;
    display: inline-block;
    position: absolute;
}
.mockCardImage{
    overflow: hidden;
    padding-top: 10px;
    width: 50px;
    display: inline-block;
}