<div id="text-left-hero_div_1_{{id}}" class="wch-hero-image wch-hero-image-message-left">
    <img class="foreground-image" *ngIf="foregroundImageUrl!=undefined" [src]="foregroundImageUrl">
    <img class="show-for-medium" [src]="imageUrl">
    <img class="show-for-small-only" [src]="smallImageUrl">

    <div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="small-12 medium-8 cell hero-message">
            <div >
                <h1 class="text-hero text-hero-left">{{ title }}</h1>
                <p [innerHTML]="descriptiveText"></p>
            </div>
        </div>
    </div>
</div>
</div>