:host{
    span{
        text-align: center;
    }

    .orderconfirmation__div__ordernumber{
        span{
            text-align: center;
        }
    }
    .orderconfirmation__div__msgoftheday{
        text-align:center;
    }

    img.orderconfirmation__img__confirmationimg{
        max-width:20%; 
        height:auto;

        display: block;
        margin-left: auto;
        margin-right: auto
    }

    button{
        margin:auto;
        display:block;
        margin-bottom: 1.5rem;
    }
    
}