
$light-colors: (
		bg: #fff,
		bg-secondary: #fff,
		color: #303030,
		border-color: #dadada,
		arrow-color: #8d8d8d
);



.light {
	// each item in color map
	@each $k, $v in $light-colors {
		--color-#{$k}: $v;
	}
}

