@import '../../../../theme_settings.scss';

.category-container{
    h4, p{
        color: $body-text-color;
    }
    h4{
        margin-bottom: 1.2rem;
    }
    p{
        margin-bottom: 0;
    }
    .text-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}

