.checkout-store-locator-label {
    font-weight: bold;
    font-size: 16px;
}

.select-store-container{
    margin-bottom:1rem;
    .selected-store{
        margin-bottom:1rem;
        margin-left:1.5rem;
    }
}