<div class="wch-page grey-background">
  <wch-contentref *ngIf="heroBanner" [renderingContext]="heroBanner"></wch-contentref>
  <div class="grid-container grid-container-padded">
    <div class="grid-x">
      <div class="small-12 medium-12 large-12">
        <h2 wchEditable="title" class="title text-center">{{title}}</h2>
        <hr>
        <div>
          <h4><wch-contentref [renderingContext]="personalInformationHeading"></wch-contentref></h4>
          <wch-contentref [renderingContext]="personalInformation"></wch-contentref>
          <br>
        </div>
        <div>
          <h4><wch-contentref [renderingContext]="marketingBehaviorTrackingHeading"></wch-contentref></h4>
          <wch-contentref [renderingContext]="marketingBehaviorTracking"></wch-contentref>
          <br>
        </div>
        <div>
          <h4><wch-contentref [renderingContext]="digitalAnalyticsHeading"></wch-contentref></h4>
          <wch-contentref [renderingContext]="digitalAnalytics"></wch-contentref>
        </div>
      </div>
    </div>
  </div>
</div>
