.account-order-history .container {
    border:solid 1px #dadada;
    margin-bottom: 1.25rem;
}
.account-order-history > .header {
  padding:25px 0 15px;
}
.account-order-history .order-title {
  font-size:1.35rem;
  line-height:1;
}
.account-order-history .order-title-mobile{
  font-weight:bold;
}
.order-header {
  border-bottom:solid 1px #dadada;
  background-color:#f7f7f7;
}
.order-info-mobile{
  padding-top:1rem;
}
.image-container-mobile{
  padding-left:0.5rem;
  padding-right:0.5rem;
}
.VATincl {
	font-size: 12px;
  color: #595859;
  display: block;
}